<h1>Drawer#draw</h1>
<table id="drawTable">
    <% @pixels.each do |x| %>
      <tr>
        <% x.each do |y| %>
          <td style="background-color:#<%= y %>;"></td>
        <% end %>
      </tr>
    <% end %>
</table>
