<% content_for :customjs do %>
  <script type="text/javascript">
  // Initialize the colorPicker for this page
    $("#colorPicker").spectrum({
      color: "#f00"
    });
  // Custom painting library
    var colorPicked;
    var trigger = false;
    function getColor() {
      colorPicked = $("#colorPicker").spectrum("get");
      return colorPicked.toHexString();
    }
    $(".cell").on({
      mouseover: function () {
        if(trigger) {
          $(this).attr("style", "background-color:" + getColor());
        }
      },
      mouseleave: function () {
        if(trigger) {
          $(this).attr("style", "background-color:" + getColor());
        }
      },
      click: function () {
        trigger = !trigger;
      }
    });
  </script>
<% end %>
<%= image_tag "paintcraft.png" %>
<p>Please select your color on the left and set it to paint the squares<p>
<input type="text" id="colorPicker"/>
<table id="drawTable">
    <% @pixels.each do |x| %>
      <tr>
        <% x.each do |y| %>
          <td class="cell" style="background-color:#<%= y %>;"></td>
        <% end %>
      </tr>
    <% end %>
</table>
<button> Export to Minecraft! </button>
