<h1>PaintCraft</h1>
<p>Please select your color on the left and set it to paint the squares<p>
  
<table id="drawTable">
    <% @pixels.each do |x| %>
      <tr>
        <% x.each do |y| %>
          <td style="background-color:#<%= y %>;"></td>
        <% end %>
      </tr>
    <% end %>
</table>
