<% content_for :customjs do %>
  <script type="text/javascript">
    $("#colorPicker").spectrum({
      color: "#f00"
    });
  </script>
<% end %>
<%= image_tag "paintcraft.png" %>
<p>Please select your color on the left and set it to paint the squares<p>
<input type="text" id="colorPicker"/>
<table id="drawTable">
    <% @pixels.each do |x| %>
      <tr>
        <% x.each do |y| %>
          <td style="background-color:#<%= y %>;"></td>
        <% end %>
      </tr>
    <% end %>
</table>
<button> Export to Minecraft! </button>
