<html>
hi
<div id="header">
  <%= image_tag "paintcraft.png" %>
</div>
<div id="content">
  <p>Here's your image!<p>
  <img src="/drawing/<%= session.id %>.png"/>
  <a href="/drawing/<%= session.id %>.png" download="mydrawing.png"> Download now!</a>
</div>
</html>
