<html>
hi
<div id="header">
  <%= image_tag "paintcraft.png" %>
</div>
<div id="content">
  <p>Please select your color on the left and set it to paint the squares<p>
  <input type="text" id="colorPicker"/>
  <img src="/drawing/<%= session.id %>.png"/>
</div>
</html>
