// Place all the styles related to the drawer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Roboto);
img {
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
body {
  width:100%;
  height:100%;
  font-family: 'Roboto', sans-serif;
  background-image: url('minecraft-bg-tile.jpg');
}
#drawTable {
  border: 10px solid #AAAAAA;
}
td {
  width: 20px;
  height: 20px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.cell.active {
  background-color:red;
}
img {
  vertical-align:middle;
  width:500px;
}
#header {
  padding-left: calc(50% - 200px);
  padding-top:20px;
  vertical-align:middle;
  width: 100%;
  background-color: #7eb2e4;
  height: 125px;
}
#content {
  text-align:center;
  height:100%;
  padding:20px;
  padding-left:60px;
  padding-right:50px;
  background-color:#fff;
  width:480px;
  margin-left: calc(50% - 240px);
}


// Buttons
.btn {
  background: #ededed;
  background-image: -webkit-linear-gradient(top, #ededed, #d6d6d6);
  background-image: -moz-linear-gradient(top, #ededed, #d6d6d6);
  background-image: -ms-linear-gradient(top, #ededed, #d6d6d6);
  background-image: -o-linear-gradient(top, #ededed, #d6d6d6);
  background-image: linear-gradient(to bottom, #ededed, #d6d6d6);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #0f0f0f;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  border: solid #bdbdbd 1px;
  text-decoration: none;
}

.btn:hover {
  background: #c7c7c7;
  background-image: -webkit-linear-gradient(top, #c7c7c7, #b3b3b3);
  background-image: -moz-linear-gradient(top, #c7c7c7, #b3b3b3);
  background-image: -ms-linear-gradient(top, #c7c7c7, #b3b3b3);
  background-image: -o-linear-gradient(top, #c7c7c7, #b3b3b3);
  background-image: linear-gradient(to bottom, #c7c7c7, #b3b3b3);
  text-decoration: none;
}
